<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qjm3662.newproject">
    //网络权限
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    //访问内存的权限
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginAndRegister.LoginActivity" />
        <activity android:name=".LoginAndRegister.Register_UI" />
        <activity android:name=".Main_UI.MainActivity"></activity>
        <activity android:name=".StoryView.Edit_Acticity" />
        <activity android:name=".StoryView.Story_pre" />
        <activity android:name=".myself.Edit_sign" />
        <activity android:name=".myself.FeedBack" />
        <activity android:name=".myself.Care.care" />
        <activity android:name=".myself.settings.my_settings" />
        <activity android:name=".myself.settings.Public_settings" />
        <activity android:name=".myself.settings.Notification" />
        <activity android:name=".myself.collection.collection" />
        <activity android:name=".StoryView.Edit_Story.Edit_Story" />
        <activity android:name=".Finding.StoryView" />
        <activity android:name=".Finding.HomePage" />
        <activity android:name=".LunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".myself.Article.ArticleActivity"></activity>
    </application>

</manifest>